go 1.20

use (
	.
	./app-engine-1_11
	./aws/iam
	./aws2tf
	./channels/buffered
	./cineworld
	./concurrency/fan_out-fan_in
	./concurrency/incremental-counter
	./concurrency/pipeline-pattern
	./cpu-max
	./fibonacci-tdd-kata
	./flatten
	./forecast
	./form3/pilot
	./form3/pilot2
	./form3/pilot3
	./generics
	./giantbomb.com/hour-counter
	./github.com/alainakafkes/twilio-sms-tutorial
	./github.com/charmbracelet/harmonica
	./github.com/dghubble/gologin
	./github.com/fyne-io/fyne
	./github.com/go-playground/mold
	./github.com/labstack/echo
	./github.com/manifoldco/promptui
	./github/astronomer
	./github/dotfiles
	./go-git
	./go_rest_api
	./golang.org/x/crypto/bcrypt
	./gopls-watchdog
	./goquery
	./graph
	./graphql/github
	./hello
	./htmlparse
	./jam-gp
	./jwt
	./kofo.dev/how-to-mtls-in-golang
	./leetcode/105
	./leetcode/118
	./leetcode/315
	./leetcode/629
	./mholt.github.io/binding
	./monzo
	./pace.dev/blog/2020/03/02/dynamically-generate-social-images-in-golang-by-mat-ryer
	./practical-golang-benchmarks
	./prime-sieve
	./ps4-share
	./redis/openmymind
	./secrets
	./sigs.k8s.io/controller-runtime/pkg/client/fake
	./stdlib
	./stdlib/embed
	./stdlib/fmt
	./stdlib/io/fs
	./test-error
	./triplebyte
	./wasm
)
